//
// Layout
// Styles for main layout
// --------------------------------------------------
html, body {
  height: 100%;
}
body {
  padding-top: 60px;
  #main-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
  }
  #push {
    height: 100px;
  }
  #footer {
    font-size: 12px;
    line-height: 1.5;
    color: #CCC;
    background-color: #555;
    border-top: 1px solid #e5e5e5;
    @include breakpoint('mini-tablet') {
      margin-left: -$gridGutterWidth;
      margin-right: -$gridGutterWidth;
      padding-left: $gridGutterWidth;
      padding-right: $gridGutterWidth;
    }
    @include breakpoint('phone') {
      margin-left: -$gridGutterWidth;
      margin-right: -$gridGutterWidth;
      padding-left: $gridGutterWidth;
      padding-right: $gridGutterWidth;
    }
    > .container {
      height: 100px;
      padding: 18px 0;
      @include box-sizing("border-box");
    }
  }
}

