// Menu
// Styles for Menus and Navs
// --------------------------------------------------

// Navbar
// --------------------------------------------------
.navbar {
  .navbar-inner {
    padding-left:  20px;
    padding-right: 20px;
    border: 1px solid $navbarBorder;
    color: black;
    display: block;
  }
}

// Main menu
// --------------------------------------------------
#main-menu {
  clear: left;
  > ul.menu {
    > li {
      > a {
        color: white;
        text-decoration: none;
        text-shadow: 0 1px 0 gray;
        &:hover {
          text-decoration: none;
          background-color: transparent;
        }
        &:focus, &.active {
          text-decoration: none;
          background-color: transparent;
          @include box-shadow(inset 0 3px 8px rgba(0, 0, 0, 0.125));
        }
      }
      > ul.menu {
        background-color: white;
        border: 1px solid #CCC;
        border: 1px solid rgba(0, 0, 0, 0.2);
        @include border-radius(6px 6px 6px 6px);
        @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
        li {
          a {
            color: #333;
            &:focus, &:hover {
              color: $dropdownLinkColorHover;
              text-decoration: none;
              background-color: $dropdownLinkBackgroundActive;
              @include ctb-gradient-vertical($dropdownLinkBackgroundActive, darken($dropdownLinkBackgroundActive, 5%));
            }
          }
        }
      }
      &.open {
        > a {
          color: #555;
          background-color: #E5E5E5;
        }
      }
    }
  }
}

// Dropdown menu
// --------------------------------------------------
#oa-navbar ul.dropdown-menu,
ul.dropdown-menu,
.dropdown-menu {
  .item-list {
    h3 {
      color: $black;
      text-shadow: none;
      background: none;
      padding: 3px 20px;
      line-height: 20px;
    }
  }
  ul {
    margin: 0;
    li {
      padding: 0;
      margin: 0;
      a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: $baseLineHeight;
        color: $dropdownLinkColor;
        white-space: nowrap;
        &:hover, &:focus, &.active {
          text-decoration: none;
          color: $dropdownLinkColorHover;
          @include ctb-gradient-vertical($dropdownLinkBackgroundHover, darken($dropdownLinkBackgroundHover, 5%));
        }
        &.more-link {
          text-align: left;
        }
      }
      .flag-wrapper {
        padding: 0;
        .flag {
          width: auto;
          font-size: 12px;
          font-style: italic;
        }
      }
    }
  }
}

// Footer styles
// --------------------------------------------------
.region-footer {
  background-image: url('../../logo.png');
  background-repeat: no-repeat;
  background-position: 1% center;
  .menu {
    float: right;
    li {
      list-style: none !important;
      float: left;
      a {
        line-height: 52px;
        color: white;
        display: block;
      }
    }
  }
}
