//
// Styles for navbar
// --------------------------------------------------

#mini-panel-oa_toolbar_panel {
  padding: 0 10px;
}

// Toolbar Buttons
.pane-oa-widgets-visibility-toolbar #oa_visibility_toolbar,
#oa_favorites,
.pane-add-space-content {
  @include ctb-navbarVerticalAlign(35px);
}
.pane-add-space-content,
.pane-oa-favorites-favorites-button,
.pane-oa-widgets-visibility-toolbar {
  .dropdown-menu {
    left: auto;
    right: -15px;
  }
  a.dropdown-toggle.btn {
    @include clear-shadow;
    background: $btn-group-bg-color !important;
    border: none;
    padding: 5px;
    height: 29px;
    margin-top: 3px;
    > .caret,
    > .icon-star,
    > .icon-lock,
    > .icon-unlock  {
      border: none;
      width: 18px;
      height: 18px;
      margin-top: 8px;
      display: block;
    }
    &:hover {
      background: $black !important;
    }
  }
}
// Create Spaces Button
.pane-add-space-content {
  margin-right: 5px;
  a.dropdown-toggle.btn {
    position: relative;
    text-indent: -9999em;
    > .caret {
      margin-top: 8px;
      text-indent: 0;
      display: block;
      position: relative;
      top: -23px;
      left: 2px;
      background: transparent url(../images/navbar-icons.png) no-repeat top left;
    }
  }
}
// Visibility Button
#oa_visibility_toolbar {
  em {
    padding: 5px 10px;
  }
  .oa-visibility-list {
    padding: 0 10px;
    a {
      padding: 0 0;
    }
  }
}
// General navbar
.navbar {
  .navbar-inner {
    padding: 0;
    @include border-radius(0);
  }
  // Brand: website or project name
  // -------------------------
  .brand {
    margin-left: 0;
    padding-left: 5px;
    font-weight: bold;
    color: $gray;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .1);
    @include transition(all .2s linear);
  }
  .icon-home {
    color: $white;
  }
  .toolbar-search {
    margin: 10px 10px 0 0;
    form,
    .btn-group {
      margin: 0;
    }
    .input-append {
      margin: 0;
    }
    // Radios in dropdowns have weird behavior.
    .dropdown-menu {
      margin: 5px;
      .radio {
        margin: 0;
        input[type="radio"] {
          margin-top: 3px;
          margin-left: -17px;
        }
      }
      li {
        padding: 2px;
      }
      li:hover {
        background: #0081C2;
        color: #FFF;
      }
    }
  }
  .pane-page-site-name {
    margin-top: 12px;
    margin-left: 10px;
    font-size: 18px;
    color: #333;
  }
}

.navbar.navbar-inverse .pane-page-site-name {
  color: #EEE;
}

#navbar .navbar-tray .navbar-shortcuts {
  display: block;
}

#navbar .navbar-shortcuts .menu a {
  background-color: black;
  color: white;
}

#navbar div.devel-querylog div.cell-5 {
  padding: 1em .5em !important;
}

// Move the Panels IPE buttons from bottom to the top
div#panels-ipe-control-container {
  background-color: transparent;
  position: fixed;
  top: 50px;
  right: 0;
  bottom: auto;
  width: auto;
  z-index: 999;
  @include box-shadow(none);
  a {
    font-weight: normal;
  }
}
@media screen and (max-width: $tabletBreakpoint) {
  div#panels-ipe-control-container {
    position: absolute;
  }
}


body.panels-ipe {
  margin-bottom: 0px !important
}

// div.tabs {
//   @extend .navbar;
//   @extend .navbar-inner;
//   ul.tabs {
//     @extend .nav;
//     border-bottom: 0;
//   }
//   li.active a {
//     @include border-radius(0);
//     border-bottom: 0;
//   }
// }

.oa-dropdown {
  display: inline-block;
	margin: 0 0.25em 0 0.25em;
	vertical-align: middle;
	ul {
	  margin: 0.5em 0;
	  li {
	    margin: 0;
	  }
	}
}

.sutro-double-container {
  margin-bottom: 0;
}

.footer .menu li {
  list-style-type: none;
  list-style-image: none;
  float: left;
  a {
    color: $grayDark;
  }
}

#oa-navbar #oa-user-badge,
#oa-navbar #toolbar-menu-button {
  padding-top: 8px;
}

ul.oa_toolbar {
  padding-top: 8px;
}

// Breadcrumb toolbar
ul#oa_breadcrumb .btn-inverse {
  background: transparent;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-inverse ul#oa_breadcrumb .btn.btn-inverse {
  color: #fff;
  border: none;
  box-shadow: none;
}
ul#oa_breadcrumb {
  padding: 0;
  margin: 0;
  > .icon-home {
    line-height: 5px;
  }
  > .btn-group:after {
    content: url(../images/menu-divider.png);
  }
  > .btn-group {
    height: 50px;
    > a {
      position: relative;
      top: -20px;
      font-size: 17px;
    }
  }
  li:first-child a {
    padding-right: 10px;
  }
  a.btn.btn-inverse {
    margin-bottom: 3px;
  }
  a.dropdown-toggle.btn.btn-inverse {
    background: $btn-group-bg-color !important;
    border: none;
    @include border-radius(6px);
    padding: 8px 6px 2px;
    margin-right: 15px;
    margin-top: 0;
    height: 29px;
    .caret {
      border-top: 6px solid #fff;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
      margin-top: 10px;
    }
  }
  a.btn.btn-inverse:hover {
    color: darken(#fefefe, 15%);
  }
}

// Open Atrium Navbar
// --------------------------------------------------
#oa-navbar {
  @include breakpoint('mini-tablet') {
    position: fixed;
    #mini-panel-oa_toolbar_panel {
      padding: 0 $gridGutterWidth;
    }
    .pane-oa-dashboard-oa-breadcrumb {
      float: none;
      border-bottom: 1px solid #676767;
    }
    .pane-oa-toolbar-search {
      float: left;
      margin: 10px 0;
      .input-append {
        display: block;
      }
      .toolbar-search {
        margin: 0;
        padding: 0;
        .submit {
          margin: 0;
          float: left;
        }
        .dropdown-toggle {
          clear: none;
          margin: 0;
        }
      }
    }
    .pane-oa-dashboard-oa-user-badge {
      margin: 10px 0;
      .btn {
        margin: 0;
      }
      #oa-user-badge {
        padding: 0;
      }
    }
    .pane-oa-favorites-favorites-button {
      margin: 10px 0;
      ul {
        margin: 0;
        li {
          margin: 0 10px 0 0;
          a {
            margin: 0;
          }
        }
      }
    }
    .pane-add-space-content {
      margin: 10px 10px 10px 0;
      .btn-group {
        a {
          margin: 0;
        }
      }
    }
  }
  @include breakpoint('phone') {
    position: static;
    margin: 0;
    #mini-panel-oa_toolbar_panel {
      padding: 0;
      .boxton-container {
        padding: 50px 0 0;
        position: relative;
      }
    }
    .navbar-inner {
      border: 0;
    }
    .panel-pane {
      float: none;
    }
    .pane-oa-dashboard-oa-breadcrumb {
      ul#oa_breadcrumb {
        > li.oa-breadcrumb {
          display: block;
          float: none;
          padding: 0;
          margin: 0;
          height: auto;
          &:after {
            content: '';
            display: none;
          }
          > a {
            display: inline-block;
            padding: 15px 0;
            text-align: center;
            width: 100%;
            position: static;
            margin: 0;
            border-bottom: 1px solid lighten($black, 15);
            text-decoration: none;
            @include border-radius(0 !important);
          }
          a.dropdown-toggle {
            position: absolute;
            right: 0;
            top: 0;
            margin: 0;
            background: none !important;
            padding: 15px 16px;
            border: 0;
            height: auto;
            text-align: right;
            outline: none;
            @include border-radius(none);
          }
          ul.dropdown-menu {
            padding: 0;
            margin: 0;
            width: 100%;
            h3 {
              padding: 5px 15px;
            }
            ul {
              li {
                a {
                  padding: 5px 15px;
                  display: block;
                }
              }
            }
          }
        }
      }
    }
    .pane-oa-toolbar-search {
      position: absolute;
      top: 10px;
      left: 10px;
      .toolbar-search {
        margin: 0;
        padding: 0;
        input.search-text {
          width: 100px;
        }
        .btn-group {
          width: 63px;
        }
        .submit {
          margin: 0;
          float: left;
        }
        .dropdown-toggle {
          clear: none;
          margin: 0;
        }
      }
    }
    .pane-oa-dashboard-oa-user-badge {
      position: absolute;
      top: 10px;
      right: 10px;
      .btn {
        margin: 0;
      }
      #oa-user-badge {
        padding: 0;
      }
    }
    .pane-oa-favorites-favorites-button {
      position: absolute;
      top: 10px;
      left: 195px;
      ul#oa_favorites {
        margin: 0;
        padding: 0;
        li {
          a {
            margin: 0;
            height: 22px;
            line-height: 22px;
            display: block;
            i {
              margin: 5px 0 0;
            }
          }
        }
      }
    }
  }
}

// Responsive Navbar
// --------------------------------------------------
#responsive-panels-regions-navbar {
  .navbar-inner {
    .btn-top {
      float: left;
      &.btn-active {
        @include transform(none);
      }
    }
  }
}
