//
// User
// Styles for User pages
// --------------------------------------------------

// User badge
// --------------------------------------------------
.user-badge {
  border: 1px solid #CCC;
  padding: 3px 3px 3px 5px;
  min-width: 160px;
  z-index: 99;
  position: relative;
  @include border-radius(4px);
  img {
    vertical-align: middle;
  }
  &.pull-right, &.badge-right {
    text-align: right;
    margin-left: 10px;
    img {
      margin-left: 5px;
    }
  }
  &.pull-left {
    text-align: left;
    margin-right: 10px;
    padding-left: 3px;
    img {
      margin-right: 5px;
    }
  }
  &.no-border {
    padding: 4px 3px 4px 8px;
    border: 0;
    min-width: inherit;
    background: transparent;
  }
}
.content .user-badge {
  @include ctb-gradient-vertical($navbarBackgroundHighlight, $navbarBackground);
}
.oa-river .user-badge {
  border-top: 0;
  border-right: 0;
}

// User spaces page
// --------------------------------------------------
.pane-oa-user-spaces-full {
  .views-row {
    border: 1px solid #DDD;
    border-bottom: none;
  }
  .views-row-odd {
    background: $tableBackgroundAccent;
  }
  .views-row-first {
    @include border-top-radius(5px);
  }
  .views-row-last {
    border-bottom: 1px solid #DDD;
    @include border-bottom-radius(5px);
  }

  .space-container {
    padding: 5px;
  }
  .space-details {
    .picture {
      margin-right: 20px;
      height: 120px;
      width: 120px;
      img {
        width: 100%;
      }
    }
  }
  .accordion {
    padding: 10px;
    margin: 0;
  }
}

// User panes
// --------------------------------------------------
.pane-oa-core-members-widget, 
.pane-oa-teams-members {
  h5 {
    margin-top: 0;
  }
  .btn-group {
    margin: 0 5px 10px 0;
    min-width: 160px;
  }
  .label,
  .user-badge {
    margin: 0 5px 10px 0;
    border: 1px solid transparent;
  }
  .dropdown-toggle.user-badge {
    margin: 0;
    border: 1px solid transparent;
    i {
      position: absolute;
      top: 10px;
      right: 10px;
      display: none;
    }
    &:hover {
      border: 1px solid #777;
      i {
        display: block;
      }
    }
  }
  .member-dropdown {
    position: relative;
  }
}
